*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white; 
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 50%;
    padding: 2rem;
    border-radius: 10px;
}
.right-side{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.item-type{
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9rem;
}
.price-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.price{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}
.old-price{
    font-size: 0.9rem;
}
.add-to-cart{
    all: unset;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
    text-align: center;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.add-to-cart:hover{
    cursor: pointer;
}
.item-type, .description, .add-to-cart, .old-price{
    font-family: 'Montserrat', sans-serif;
}
.item-name, .price{
    font-family: 'Fraunces', sans-serif;
}
.item-type, .description, .old-price{
    color: hsl(228, 12%, 48%);
}